.container__articles{
  margin-top: 30px;

  @media(min-width: 700px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.search-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-title h2 {
  font-size: 28px;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.no-posts {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.no-posts p {
  color: white;
  font-size: 18px;
}
